GrowTogetherClient/Connected Services/profileref/UserProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/UserProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/UserProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/UserProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrowTogether" />
      <xsd:import schemaLocation="http://localhost:8000/UserProfileService?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfileService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_AddUserRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserRecord" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_AddUserRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecords" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeleteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecords" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeleteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SearchUserRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUserRecord" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SearchUserRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUserRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateUserContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserContact" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateUserContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserContactResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRequest" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProfileService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetData" message="tns:IUserProfileService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetDataResponse" message="tns:IUserProfileService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/Login" message="tns:IUserProfileService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/LoginResponse" message="tns:IUserProfileService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/Registration" message="tns:IUserProfileService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/RegistrationResponse" message="tns:IUserProfileService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/AddUserRecord" message="tns:IUserProfileService_AddUserRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/AddUserRecordResponse" message="tns:IUserProfileService_AddUserRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetUserRecords" message="tns:IUserProfileService_GetUserRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetUserRecordsResponse" message="tns:IUserProfileService_GetUserRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/DeleteRecords" message="tns:IUserProfileService_DeleteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/DeleteRecordsResponse" message="tns:IUserProfileService_DeleteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUserRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/SearchUserRecord" message="tns:IUserProfileService_SearchUserRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/SearchUserRecordResponse" message="tns:IUserProfileService_SearchUserRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UpdateUserContact" message="tns:IUserProfileService_UpdateUserContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UpdateUserContactResponse" message="tns:IUserProfileService_UpdateUserContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/SendRequest" message="tns:IUserProfileService_SendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/SendRequestResponse" message="tns:IUserProfileService_SendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetMessages" message="tns:IUserProfileService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetMessagesResponse" message="tns:IUserProfileService_GetMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserProfileService" type="tns:IUserProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserRecord">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/AddUserRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetUserRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/DeleteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserRecord">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/SearchUserRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserContact">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/UpdateUserContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequest">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/SendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IUserProfileService" type="tns:IUserProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserProfileService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserRecord">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/AddUserRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/GetUserRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/DeleteRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserRecord">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/SearchUserRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserContact">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/UpdateUserContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequest">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/SendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:port name="BasicHttpBinding_IUserProfileService" binding="tns:BasicHttpBinding_IUserProfileService">
      <soap:address location="http://localhost:8000/UserProfileService/RestaurantService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IUserProfileService" binding="tns:NetTcpBinding_IUserProfileService">
      <soap12:address location="net.tcp://localhost:8090/UserProfileService/RestaurantService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/UserProfileService/RestaurantService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-LS8IE67\Tiya</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>