GrowTogetherClient/Connected Services/profileref/UserProfileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GrowTogether" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GrowTogether" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="MagId" type="xs:int" />
      <xs:element minOccurs="0" name="Msgdes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Msgsub" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>